html, body {
	margin: 0;
    font-family: 'Comfortaa';
    font-size: 0.90em;
}

#container {
    display: flex; 
    align-items: center;
    justify-content: center;                         
    width: 100vw;
}

#cal {
    display: flex;
    flex-direction: column;
    float:none
}


.day {
    display: inline-flex;
    flex-direction: row;
    width: 4em;
    height: 3em;
    background-color: gray;
    margin: 1px;
    padding: 0.5em;

}

.label {
    display: inline-flex;
    width: 4em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 1px;
}

.quint:nth-child(2n) {
    margin-top: 3em;
}

.months {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    page-break-after: always
}

.month {
    margin:1px;
    flex-grow: 1;
    padding: 5px;
    text-align: center;
}

